extends layout

block content
  h1= title  
  article
    p This is the first blog post I've ever written.  And here are a few 
    more words.
    p Here are some links.
    p<ul>
     <li><a href="/post1">post1</a></li>
     <li><a href="/post2">post2</a></li>
     <li><a href="/post3">post3</a></li>
     <li><a href="/pay">pay</a></li>
     </ul>
